<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#each model.posts as |post|}}
                {{post-short post=post}}
            {{else}}
                <div class="jumbotron">
                    <h1>No posts yet</h1>
                </div>
            {{/each}}
        </div>
    </div>
</div>